/* custom.css */
  .left-code {
    color: #777;
      width: 38%;
    height: 92%;
    float: left;
  }
.right-plot {
  width: 60%;
  float: right;
  padding-left: 1%;
}


  .right-code {
    color: #777;
      width: 38%;
    height: 92%;
    float: left;
  }
.left-plot {
  width: 60%;
  float: right;
  padding-left: 1%;
}